@using Volo.Abp.MultiTenancy
@inherits Formula1DashboardComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2 class="card-title">Drivers</h2>
                <small class="d-block text-muted text-truncate">All Formula 1 Drivers. Please select Driver.</small>
            </div>
            <div class="col-auto"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="scrolling-wrapper">
            @foreach (var item in DriverDtos)
            {
                        <a href="/dashboard/@item.Id">
                            <div class="card border text-center shrink">
                                <div class="card-header">
                                    <img class="lpx-avatar-img-lg mb-3" style="width:75px;height:75px;" src="@item.PictureLink" alt="avatar">
                                <div class="border-bottom pb-1">
                                        <h3 class="card-title mb-0">@item.FirstName @item.Surname</h3>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <small class="text-muted"><i class="bi bi-calendar3"></i> @item.DateOfBirth.ToString("dd/MM/yyyy")</small>
                                    <h5 class="fw-normal mt-2 mb-0">@item.Code - @item.Number</h5>
                                    <small class="text-muted"><i class="bi bi-geo-alt-fill"></i> @item.Nationality</small>
                                </div>
                            </div>
                        </a>
            }
        </div>
    </div>
</div>
